html{
    height: 100vh;
}

body{
    background: rgb(29, 28, 28);
    background: no-repeat cover;
    color: white;
}

html::-webkit-scrollbar {
    display: none;
  }

.navbar{
    height: 25%;
    width: 100%;
    display: flex;
    border: 1px solid black;
    position: relative;
}

.navbar a{
    font-family: 'Rubik', sans-serif;
    font-size: large;
    color: white;
    text-decoration: none;
    padding: 5px;
    margin-left: 0px;
    transition: 0.2s linear;
    border-radius: 2px;
}

.navbar a:hover{
    background-color: #363636;
}

.card {
    width: 140px;
    height: 150px;
    padding: px;
    text-align: center;
    border: 1px solid black;
    border-radius: 8px;
    background-color: #000000;
    transition: 0.2s;
    margin: 2px;
    color: white;
}

.card img {
    width: auto;
    height: 100px;
    border-radius: 10px;
    margin-top: 5px;
    border: 1px black solid;
}

.title {
    font-size: 15px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    /* border: 1px solid black; */
    margin-top: 1px;
    margin-bottom: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.artist {
    font-size: 11px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
    /* border: 1px solid black; */
    margin-top: 0;
    margin-bottom: 0;
}

.card:hover{
    cursor: pointer;
    background-color: #363636;
}

.card-con{
    display: flex;
}

.swiper{
    border: 1px white solid;
    height: 550px;
    justify-content: center;
    align-items: center;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #181818;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper-slide img {
    display: block;
    object-fit: cover;
    width: inherit;
    align-items: center;
    border: white 1px solid;
}

.swiper-scrollbar{
    color: white;
    --swiper-scrollbar-bg-color: rgba(65, 65, 65, 0.1);
    --swiper-scrollbar-drag-bg-color: rgba(255, 255, 255, 0.5);
}